<
    <%- include("partials/header") %>

        <h1>Compose</h1>
        <strong>Title</strong>
        <form name="composeF" action="/compose" method="post">
            <div class="form-group">
                <input type="text" name="fname" class="form-control" />
            </div>
            <strong>Post</strong>
            <div class="form-group">
                <textarea name="areat" class="form-control" id="Controltextarea" cols="30" rows="3">
                </textarea>
                <br>
                <input class="btn-primary" type="submit" value="Publish">
            </div>
        </form>

        <%- include("partials/footer") %>
